# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

*.bak
*.egg-info/
*.ipynb
*.log
*.py[cdio]
*.swp
*.tar.gz
*.timestamp-*
*.tsbuildinfo
*.whl
.DS_Store
.benchmarks/
.cache/
.coverage*
.env*
.hypothesis/
.ipynb_checkpoints/
.marimo-*
.mypy_cache/
.pnpm-store/
.pytest_cache/
.ruff_cache/
.slidev/
.tox/
.ty_cache/
.unlighthouse/
.venv/
.vscode/
.zed/
/.vendor/
/.vitepress/cache/
/.vitepress/dist/
/build/
/dist/
/doc/public/data/
/doc/public/lib/
/doc/public/note/
/doc/public/slide/
/doc/site/note/
/doc/site/slide/
/site/
Pipfile
Pipfile.lock
__marimo__/
__pycache__/
environment.yml
f1
flit.ini
node_modules/
nohup.out
package-lock.json
poetry.lock
requirements.
requirements.txt
setup.py
stats.html
tmp/
