# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.git/
/.vendor/
/.vitepress/cache/
/.vitepress/dist/
/build/
/data/public/
/doc/*.md
deno.lock
node_modules/
tmp/
