<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="Interactive Python audio notebooks." name="description" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"
  ></script>
  <title>Melopa</title>
</head>
<body class="font-sans text-gray-800 bg-white p-5">
  <div class="max-w-4xl mx-auto">
    <header class="bg-gray-100 p-6 text-center rounded-lg mb-6">
      <h1 class="text-2xl font-bold mb-2">Melopa</h1>
      <p class="text-sm">Interactive Python audio notebooks.</p>
    </header>
    <main>
      {% if notebooks %}
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
        {% for notebook in notebooks %}
        <!-- {{ notebook | replace('.md', '')  | replace('_', ' ') | title }} Notebook -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg overflow-hidden">
          <div class="bg-gray-200 p-3 font-semibold">{{ notebook | replace('.md', '')  | replace('_', ' ') | title }}</div>
          <div class="p-4">
            <a href="/melopa/{{ notebook | replace('.md', '.html') }}" class="inline-block bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded transition-colors">Open Notebook</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </main>
  </div>
</body>
</html>
